{% extends "common/header.html" %}
{% block content %}

<!-- Page Heading -->
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">조회</h6>
        <div class="dropdown no-arrow">
            <a href="{% url 'company:company.prod_csv_download' %}" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">데이터 다운로드</span>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>제품명</th>
                        <th>밀도</th>
                        <th>평균rpm</th>
                        <th>일일평균생산량</th>
                        <th>생성일자</th>
                        <th>수정일자</th>
                        <th class="{% if user.groups.all.0.name == 'customer' %} none {% endif %}" style="text-align:center;">관리</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comp in comp_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{comp.prod_name}}</td>
                        <td>{{comp.density}}</td>
                        <td>{{comp.rpm}}</td>
                        <td>{{comp.daily_prod_rate}}</td>
                        <td>{{comp.created_at}}</td>
                        <td>{{comp.modified_at}}</td>
                        <td class="{% if user.groups.all.0.name == 'customer' %} none {% endif %}" style="text-align:center;">
                            <a href="#" id="edit_{{ comp.prod_id }}"><i class="far fa-edit {{ comp }}"></i></a>
                            <a href="#" id="delete_{{ comp.prod_id }}" style="margin-left:10px;"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- ***************************************************************** 관리 Modal ***************************************************************** -->
<div class="modal fade" id="editModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog2" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">제품정보 관리</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            <div class="modal-body">
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="prodname" class="pt-2">제품명</label></div>
                    <div class="col-md-6" id="divCompName">
                        <input class="form-control text-center" type="text" name="prodname" id="prodname" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="density" class="pt-2" style="font-size:0.95rem;">밀도</label></div>
                    <div class="col-lg-6" >
                         <input class="form-control text-center" type="text" name="density" id="density" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="avgrpm" class="pt-2" style="font-size:0.95rem;">평균rpm</label></div>
                    <div class="col-lg-6" >
                         <input class="form-control text-center" type="text" name="avgrpm" id="avgrpm" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="dailyprod" class="pt-2" style="font-size:0.95rem;">일일평균생산량</label></div>
                    <div class="col-lg-6" >
                         <input class="form-control text-center" type="text" name="dailyprod" id="dailyprod" />
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="htfooter">
                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" data-dismiss="modal">
                    <i class="far fa-window-close fa-sm text-white-50"></i> 취소
                </button>
                <a href="#" id="editBtn" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="far fa-paper-plane fa-sm text-white-50"></i> 수정
                </a>
            </div>
        </div>
    </div>
</div>
<!-- 관리 Modal END -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!--게시판 관련 js-->
<!-- Page level plugins -->
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="/static/js/demo/datatables-demo.js"></script>
<!-- sweetalert 설치 후 사용가능
     $ npm install sweetalert2 -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--게시판 관련 js-->
<script>
$(function(){
    const today = moment();
    // 검색 날짜 init
    flatpickr("#dateTo", {
           locale: Flatpickr.l10ns.ko,
           enableTime: false,
           dateFormat: "Y-m-d",
           disableMobile: true,
           defaultDate: $('#dateTo').val()
           // defaultDate: [today.format('YYYY-MM-DD')]
    });
    flatpickr("#dateFrom", {
           locale: Flatpickr.l10ns.ko,
           enableTime: false,
           dateFormat: "Y-m-d",
           disableMobile: true,
           defaultDate: $('#dateFrom').val()
    });
    // 수정
    $('.fa-edit').on('click', function(){
        $('#editModal').modal("show");
    });
    // 삭제
    var selectdata = new Object;
    $('.fa-trash-alt').on('click', function(e){
        var str = e.target.parentElement.id.split('_');
        selectdata.id = str[1];
        Swal.fire({
          icon: 'error',
          title: '삭제하시겠습니까?',
          showCancelButton: true,
          text: ''
        }).then(function(){
            $.ajax({
                url: "{% url 'company:delete' %}",
                data : JSON.stringify(selectdata),
                type:'json',
                contentType: 'application/json',
                method: "POST",
                success: function(data){
                    location.reload();
                },
                error: function(error){
                    console.log(error)
                }
            });
        });
        return false;
    });

});
</script>
{% endblock %}