{% extends "common/header.html" %}
{% block content %}
<link href="/static/calendar/core/main.css" rel="stylesheet" type="text/css">
<link href="/static/calendar/daygrid/main.css" rel="stylesheet" type="text/css">
<script src="/static/calendar/core/main.js"></script>
<script src="/static/calendar/interaction/main.js"></script>
<script src="/static/calendar/daygrid/main.js"></script>

<div class="row">
    <div class="col-xl-7 col-lg-5">
        <div class="card shadow mb-4">
            <div id='calendar'></div>
        </div>
    </div>
    <div class="col-lg-5">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">금일 작업 리스트</h6>

            </div>
            <div class="card-body" id="order_list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">스케쥴실행일자</th>
                            <th scope="col">작업기한</th>
                            <th scope="col">오더일자</th>
                            <th scope="col">오더번호</th>
                        </tr>
                    </thead>
                    <tbody id="order_body">

                    </tbody>
                </table>
            </div>
        </div>
        <!-- 처리 가능 리스트 히스토리 -->

    </div>
</div>

<!-- **************************  modal start  ************************** -->
<div class="modal fade" id="activationSettingModal"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">JSS Setting</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            <div class="modal-body">
                <div class="row pknu-modal-row" >
                    <div class="col-md-3"><label for="schExeDate" class="pt-2">스케쥴일자</label></div>
                    <div class="col-md-6">
                         <input type="text" class="form-control" id="schExeDate" aria-describedby="emailHelp" placeholder="" value="" readonly="readonly" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="workStartDate" class="pt-2">작업시작일</label></div>
                    <div class="col-md-6">
                         <input type="text" class="form-control" id="workStartDate" aria-describedby="emailHelp" placeholder="" value="" readonly="readonly" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="workEndDate" class="pt-2">작업기한</label></div>
                    <div class="col-md-6">
                         <input type="text" class="form-control" id="workEndDate" aria-describedby="emailHelp" placeholder="" value="" readonly="readonly" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="orderId" class="pt-2" style="font-size:0.95rem;">오더번호</label></div>
                    <div class="col-lg-6" >
                         <input class="form-control text-center" type="text" name="dateFrom" id="orderId" readonly="readonly"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="htfooter">
                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" data-dismiss="modal">
                    <i class="far fa-window-close fa-sm text-white-50"></i> 취소
                </button>
            </div>
        </div>
    </div>
</div>
<!-- **************************  modal end  ************************** -->

<script>
$(function(){
    const today = moment();
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid' ],
      defaultDate: today.format('YYYY-MM-DD'),
      editable: true,
      locale: 'ko',
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2021-12-01'
        },
        {
          title: 'Long Event',
          start: '2021-12-07',
          end: '2021-12-10'
        },
        {
          groupId: 999,
          title: 'Repeating Event',
          start: '2021-12-09T16:00:00'
        },
        {
          groupId: 999,
          title: 'Repeating Event',
          start: '2021-12-16T16:00:00',
          end: '2021-12-29'
        },
        {
          title: 'Conference',
          start: '2021-12-11',
          end: '2021-12-28'
        },
        {
          title: 'Meeting',
          start: '2021-12-12T10:30:00',
          end: '2021-12-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2021-12-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2021-12-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2021-12-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2021-12-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2021-12-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2021-12-28'
        }
      ],
      eventClick: function(info) {
        var data = info.event.title
        $.ajax({
            url:'',
            method:'GET',
            success: function(result){
                console.log(result);
                $('#activationSettingModal').modal('show');
                $('.modal-title').text(info.event.title);
            },
        });
        // alert('Event: ' + info.event.title);
        // alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
        // alert('View: ' + info.view.type);

        // change the border color just for fun
        // info.el.style.borderColor = '#fcba03';
      }
      // eventColor: ['#378006', '#f00', '#ff0000', 'rgb(255,0,0)', 'red']
    });

    calendar.render();
});

</script>



{% endblock %}