{% extends "common/header.html" %}
{% block content %}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="d-sm-flex align-items-center mb-4">
                        <!--<h1 class="h3 mb-0 text-gray-800">작업스케쥴링</h1>-->
                        <div class="col-auto pknu-searchDate">
                            <div class="col-lg-2 col-md-3 pknu-searchDate-dd">
                                <label>주문일자</label>
                            </div>
                            <div class="col-lg-3 col-md-4 pknu-searchDate-dd" >
                                 <input class="form-control text-center" type="text" name="dateFrom" id="dateFrom" />
                            </div>
                            <div class="col-lg-1 col-md-1 pknu-searchDate-dd">~</div>
                            <div class="col-lg-3 col-md-4 pknu-searchDate-dd" style="margin-right:0.4rem;">
                                <input class="form-control text-center" type="text" name="dateTo" id="dateTo" />
                            </div>
                            <div class="col-pos-right">
                                <a id="searchBtn" href="#" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-search mr-1"></i>검색</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">스케줄 이력 차트 </h6>
                <div class="dropdown no-arrow">
                    <a href="#" onclick="activationSetting()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-download fa-sm text-white-50"></i> 섬유 공정 스케쥴 실행
                    </a>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body chart-body" >
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">처리 가능 오더 리스트</h6>
                <div class="dropdown no-arrow" id="sendBtn">
                    <a href="#" onclick="sendSchedule()" id="sendSchedule" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="far fa-paper-plane">
                    </i>&nbsp 전송</a>
                </div>
            </div>
            <div class="card-body" id="order_list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">오더일자</th>
                            <th scope="col">오더번호</th>
                            <th scope="col">색상</th>
                            <th scope="col">수락</th>
                        </tr>
                    </thead>
                    <tbody id="order_body">

                    </tbody>
                </table>
            </div>
        </div>
        <!-- 처리 가능 리스트 히스토리 -->
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">처리 확정 히스토리</h6>
            </div>
            <div class="card-body" id="fixed_order_list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">오더일자</th>
                            <th scope="col">오더번호</th>
                            <th scope="col">색상</th>
                            <th scope="col">수락</th>
                        </tr>
                    </thead>
                    <tbody id="fixed_order_body">

                    </tbody>
                </table>
            </div>
        </div>
        <!-- 처리 가능 리스트 히스토리 -->
    </div>
</div>
<!-- Area Chart -->

<!-- ***************************************************************** activationSettingModal ***************************************************************** -->
<!-- setting.txt 정보 입력 Modal START -->
<!--<div class="modal fade" id="activationSettingModal"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">작업 스케줄링 설정</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            <div class="modal-body">
                <div class="row pknu-modal-row" style="height:0.6rem;">
                    <div class="col-md-3"><label for="ordDateFrom" class="pt-2">시작일자</label></div>
                    <div class="col-md-6">
                         <input type="text" class="form-control" id="ordDateFrom" aria-describedby="emailHelp" placeholder="" value="" readonly="readonly" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="ordDateTo" class="pt-2">종료일자</label></div>
                    <div class="col-md-6">
                         <input type="text" class="form-control" id="ordDateTo" aria-describedby="emailHelp" placeholder="" value="" readonly="readonly" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="selectOrder" class="pt-2">주문선택</label></div>
                    <div class="col-md-6">
                        <select class="form-control" name="select" multiple="multiple" id="selectOrder">
                            <option value="DZ1000">DZ1000  수량: 2000yd</option>
                            <option value="DZ2000">DZ2000  수량: 3000yd</option>
                            <option value="DZ3000">DZ3000  수량: 4000yd</option>
                        </select>
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="selectOrder" class="pt-2" style="font-size:0.95rem;">사용 가능 기계대수</label></div>
                    <div class="col-md-6">
                         <input class="form-control text-center" type="text" id="availfacnum" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="selectOrder" class="pt-2" style="font-size:0.95rem;">rpm</label></div>
                    <div class="col-md-6">
                         <input class="form-control text-center" type="text" id="rpm" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-lg-11" id="scheduletable" style="overflow:scroll;">
                        <table class="pknu-table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        </table>
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-lg-11" id="processingtable" style="overflow:scroll;">
                        <table class="pknu-table table-bordered" id="processingdataTable" width="100%" cellspacing="0">

                        </table>
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="selectOrder" class="pt-2" style="font-size:0.95rem;">작업기한설정</label></div>
                    <div class="col-lg-6" >
                         <input class="form-control text-center" type="text" name="dateFrom" id="estDate" />
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="htfooter">
                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" data-dismiss="modal">
                    <i class="far fa-window-close fa-sm text-white-50"></i> 취소
                </button>
                <a href="#" onclick="activate()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="far fa-paper-plane fa-sm text-white-50"></i> 스케쥴 실행
                </a>
            </div>
        </div>
    </div>
</div>-->
<!-- config.txt 정보 입력 Modal END -->
<div class="modal fade" id="activationSettingModal"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">JSS Setting</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            <div class="modal-body">
                <div class="row pknu-modal-row" style="height:0.6rem;">
                    <div class="col-md-3"><label for="ordDateFrom" class="pt-2">Start date</label></div>
                    <div class="col-md-6">
                         <input type="text" class="form-control" id="ordDateFrom" aria-describedby="emailHelp" placeholder="" value="" readonly="readonly" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="ordDateTo" class="pt-2">End date</label></div>
                    <div class="col-md-6">
                         <input type="text" class="form-control" id="ordDateTo" aria-describedby="emailHelp" placeholder="" value="" readonly="readonly" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="selectOrder" class="pt-2">order #</label></div>
                    <div class="col-md-6">
                        <select class="form-control" name="select" multiple="multiple" id="selectOrder">
                            <option value="DZ1000">DZ1000  수량: 2000yd</option>
                            <option value="DZ2000">DZ2000  수량: 3000yd</option>
                            <option value="DZ3000">DZ3000  수량: 4000yd</option>
                        </select>
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="selectOrder" class="pt-2" style="font-size:0.95rem;">machine #</label></div>
                    <div class="col-md-6">
                         <input class="form-control text-center" type="text" id="availfacnum" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="selectOrder" class="pt-2" style="font-size:0.95rem;">rpm</label></div>
                    <div class="col-md-6">
                         <input class="form-control text-center" type="text" id="rpm" />
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="selectOrder" class="pt-2" style="font-size:0.95rem;">job order</label></div>
                    <div class="col-lg-11" id="scheduletable" style="overflow:scroll;">
                        <table class="pknu-table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        </table>
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="selectOrder" class="pt-2" style="font-size:0.95rem;">processing time</label></div>
                    <div class="col-lg-11" id="processingtable" style="overflow:scroll;">
                        <table class="pknu-table table-bordered" id="processingdataTable" width="100%" cellspacing="0">

                        </table>
                    </div>
                </div>
                <div class="row pknu-modal-row">
                    <div class="col-md-3"><label for="selectOrder" class="pt-2" style="font-size:0.95rem;">작업기한설정</label></div>
                    <div class="col-lg-6" >
                         <input class="form-control text-center" type="text" name="dateFrom" id="estDate" />
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="htfooter">
                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" data-dismiss="modal">
                    <i class="far fa-window-close fa-sm text-white-50"></i> 취소
                </button>
                <a href="#" onclick="activate()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="far fa-paper-plane fa-sm text-white-50"></i> 스케쥴 실행
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div id="css-loader" class="loader loader-default"></div>

<script>
    function dateformat(value){
        var year = value.substring(0,4);
        var month = value.substring(4,6);
        var day = value.substring(6,8);
        var date = year + '-' + month + '-' + day;
        return date;
    }
    // 전송 클릭 시 이벤트
    function sendSchedule(){
        Swal.fire({
          icon: 'question',
          title: '스케쥴을 확정하시겠습니까?',
          showDenyButton: true,
          confirmButtonText: '네',
          denyButtonText: `아니오`,
        }).then((result) => {
            if(result.isConfirmed){
                $('#css-loader').addClass("is-active");
                var order = new Array();
                for(var i=0; i<$('.checkbox').length; i++){
                    if($('.checkbox').eq(i).val()=='Y'){
                        order.push($('.checkbox').eq(i).parent().siblings('.sch_id').val());
                    }
                }
                $.ajax({
                    url: "{% url 'fixed_order' %}",
                    method: 'POST',
                    dataType :   "json",
                    contentType :   "application/x-www-form-urlencoded; charset=UTF-8",
                    data:{'order_list[]': order},
                }).done(function(response){
                    $('#css-loader').removeClass("is-active");
                    location.reload();
                })
            }
        });
    }
    // 새로 생성 버튼 클릭 시 이벤트
    function removeSchedule(){
        // 기존의 확정된 스케줄 삭제
        Swal.fire({
          icon: 'question',
          title: '스케쥴을 새로 생성하시겠습니까?',
          showDenyButton: true,
          confirmButtonText: '네',
          denyButtonText: `아니오`,
        }).then((result) => {
            if(result.isConfirmed){
                $('#css-loader').addClass("is-active");
                // var order = new Array();
                var sch = new Array();
                for(var i=0; i<$('.order_id').length; i++){
                    // order.push($('.order_id').eq(i).val());
                    sch.push($('.sch_id').eq(i).val());
                }
                $.ajax({
                    url: "{% url 'delete_order' %}",
                    method: 'POST',
                    dataType :   "json",
                    contentType :   "application/x-www-form-urlencoded; charset=UTF-8",
                    data:{'sch_list[]' : sch},
                }).done(function(response){
                    $('#css-loader').removeClass("is-active");
                    location.reload();
                })

            }
        });
    }
    // 섬유공정스케줄실행 클릭 시 이벤트
    function activationSetting(){
        $('#activationSettingModal').modal('show');
    }
    // 섬유공정스케줄실행 클릭 시 이벤트
    function activate(){
        $('#css-loader').addClass("is-active");
        $.ajax({
            url: "{% url 'update_graph' %}",
        }).done(function(response){
            $('#css-loader').removeClass("is-active");
            location.reload();
        })
    }

    $(function(){
        $('#activationSettingModal').modal('show');
        $('#availfacnum').on('change', function(){
            var facnum = $('#availfacnum').val();
            var order = $('#selectOrder').val();
            var innerHTML = '<thead>' +
                                '<tr>'+
                                '<th></th>';
            for(var i=1; i<=facnum; i++){
                innerHTML += '<th>machine ' + i + '</th>';
            }
            innerHTML +=    '</tr>' +
                         '</thead>'+
                         '<tbody>';
            for(var i=0; i<order.length; i++){
                innerHTML += '<tr> <td>' + order[i] + '</td>';
                for(var j=1; j<=facnum; j++){
                   innerHTML += '<td><input type="text" style="border:none; width:50px;"/></td>';
                }
                innerHTML += '</tr>';
            }
            $('#dataTable').html(innerHTML);
            $('#processingdataTable').html(innerHTML);
        })





        $("#selectOrder").multipleSelect({
            filter: true
        });

        const today = moment();
        // 검색 날짜 init
        flatpickr("#dateFrom, #dateTo, #estDate, #ordDateFrom, #ordDateTo", {
               locale: Flatpickr.l10ns.ko,
               enableTime: false,
               dateFormat: "Y-m-d",
               disableMobile: true,
               defaultDate: [today.format('YYYY-MM-DD')]
        });

        var ctx = document.getElementById("myAreaChart");
        var chartset = false;
            $.ajax({
                url: "{% url 'draw_graph' %}",
                method:'GET',
                dataType: 'json',
                contentType: 'application/json',
                processData: false,
                success: function(result){
                    var dataset = new Array();
                    for(var i=0; i<result.length; i++){
                        dataset.push({
                            label: result[i].order_id,
                            backgroundColor: "rgba(78, 115, 223, 0.05)",
                            borderColor: result[i].sch_color,
                            fill: false,
                            responsive: true,
                            borderWidth : 15,
                            pointRadius : 0,
                            data: [
                                {
                                    x: result[i].x_axis_1/40,
                                    y: result[i].y_axis_1,
                                }, {
                                    x: result[i].x_axis_2/40,
                                    y: result[i].y_axis_1,
                                }
                            ]
                        })
                    }

                    // chart.js 그리기
                    var scatterChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            datasets: dataset
                        },
                        options: {
                            // y축 빨간선 표시
                            annotation: {
                                annotations: [
                                {
                                    drawTime: "afterDatasetsDraw",
                                    type: "line",
                                    mode: "vertical",
                                    scaleID: "x-axis-0",
                                    value: 26,
                                    borderWidth: 1,
                                    borderColor: "red",
                                    label: {
                                        content: "작업완료기한 : 12월" + 26 + "일",
                                        enabled: true,
                                        position: "top",
                                        backgroundColor: "rgba(160,170,174,100)",
                                    },
                                }
                                ]
                            }, // y축 빨간선 표시
                            animation: {
                                onComplete: function () {
                                    var ctx = this.chart.ctx;
                                    ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'light', Chart.defaults.global.defaultFontFamily);
                                    ctx.fillStyle = "#4e73df";
                                    ctx.textAlign = 'center';
                                    ctx.textBaseline = 'bottom';

                                    this.data.datasets.forEach(function (dataset)
                                    {
                                        for (var i = 0; i < dataset.data.length/2; i++) {
                                            for(var key in dataset._meta)
                                            {
                                                var model = dataset._meta[key].data[i]._model;
                                                var index = dataset._meta[key].controller._config.label.replace('ORD00', '').replace('ORD0', '');
                                                ctx.fillText(index, model.x, model.y);
                                            }
                                        }
                                    });
                                }
                            },
                            legend : {
                                display : false
                            },
                            scales: {
                                xAxes: [{
                                    type: 'linear',
                                    position: 'bottom',
                                    scaleLabel: {
                                        display: false,
                                        labelString: 'x axis'
                                    },
                                    ticks : {
                                        min: 1,
                                        max: 31,
                                        // suggestedMin: 1,
                                        // maxRotation: 0,
                                        stepSize : 1
                                    }
                                }],
                                yAxes : [{
                                    scaleLabel : {
                                        display : false
                                    },
                                    scaleLabel: {
                                        display: false,
                                        labelString: 'y axis'
                                    },
                                    ticks : {
                                        beginAtZero :true,
                                        stepSize : 1,
                                        max : 9
                                    }
                                }]
                            },
                            pan: {
                                enabled: true,
                                mode: 'x',
                            },
                            zoom: {
                                enabled: true,
                                mode: 'x',
                            },
                        },
                    });
            }
        });

        $.ajax({
            url: "{% url 'available_comp' %}",
            method:'GET',
            dataType: 'json',
            contentType: 'application/json',
            processData: false,
            success: function(result){
                $.ajax({
                    url: "{% url 'confirmed_order' %}",
                    method:'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false,
                    success: function(data){
                        var innerHTML='';
                        if(data.length>0){
                            for(var i=0; i<data.length; i++){
                                if(data[i].use_yn == 'Y') {
                                    $('#sendSchedule').remove();
                                    $('#sendBtn').html('<a href="#" onclick="removeSchedule()" id="removeSchedule"' +
                                                        'class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">' +
                                                        '<i class="fas fa-plus-square"></i>&nbsp 초기화</a>');
                                    console.log(result[i].schedule[0].order_id.toString());
                                    /* 추후 삭제 */
                                    var orderid = result[i].schedule[0].order_id.toString();
                                    /* 추후 삭제 */

                                    var date = result[i].schedule[0].sch_id.toString()
                                    var year = date.substring(3,7);
                                    var month = date.substring(7,9);
                                    var day = date.substring(9,11);
                                    date = year + '-' + month + '-' + day;
                                    var count = i+1;
                                    innerHTML += '<tr>' +
                                                      '<input type="hidden" class="order_id" value="' + result[i].schedule[0].order_id + '" />' +
                                                      '<input type="hidden" class="sch_id" value="' + result[i].schedule[0].sch_id + '" />' +
                                                      '<td scope="row">' + count + '</td>' +
                                                      '<td>' + date + '</td>' +
                                                      '<td>' + orderid.split('.')[0] + '</td>' +
                                                      '<td><div style="width:1rem; height:1rem; background-color:' + result[i].schedule[0].sch_color + '"></div></td>' +
                                                      '<td><div class="checkbox" id="accept-' + count + '" style="font-weight:bold; color:#2e59d9;" />확정</td>' +
                                                 '</tr>';
                                } else {
                                    for(var i=0; i<result.length; i++){
                                        console.log(result[i]);
                                        // var orderid = result[i].schedule[0].order_id.toString();
                                        var orderid = result[i][0].order_id.toString();
                                        var date = result[i][0].sch_id.toString();
                                        // var date = result[i].schedule[0].sch_id.toString();
                                        var year = date.substring(3,7);
                                        var month = date.substring(7,9);
                                        var day = date.substring(9,11);
                                        date = year + '-' + month + '-' + day;
                                        var count = i+1;
                                        innerHTML += '<tr>' +
                                                          '<input type="hidden" class="order_id" value="' + result[i][0].order_id + '" />' +
                                                          '<input type="hidden" class="sch_id" value="' + result[i][0].sch_id + '" />' +
                                                          '<td scope="row">' + count + '</td>' +
                                                          '<td>' + date + '</td>' +
                                                          '<td>' + orderid.split('.')[0] + '</td>' +
                                                          '<td><div style="width:1rem; height:1rem; background-color:' + result[i][0].sch_color + '"></div></td>' +
                                                          '<td><input class="checkbox" id="accept-' + count + '" type="checkbox" checked="checked" value="Y" name="check"/></td>' +
                                                     '</tr>';
                                    }
                                }
                            }
                        } else {
                            for(var i=0; i<result.length; i++){
                                /* 추후 삭제 */
                                var orderid = result[i][0].order_id.toString();
                                /* 추후 삭제 */
                                var date = result[i][0].sch_id.toString();
                                var year = date.substring(3,7);
                                var month = date.substring(7,9);
                                var day = date.substring(9,11);
                                date = year + '-' + month + '-' + day;
                                var count = i+1;
                                innerHTML += '<tr>' +
                                                  '<input type="hidden" class="order_id" value="' + result[i][0].order_id + '" />' +
                                                  '<input type="hidden" class="sch_id" value="' + result[i][0].sch_id + '" />' +
                                                  '<td scope="row">' + count + '</td>' +
                                                  '<td>' + date + '</td>' +
                                                  '<td>' + orderid.split('.')[0] + '</td>' +
                                                  '<td><div style="width:1rem; height:1rem; background-color:' + result[i][0].sch_color + '"></div></td>' +
                                                  '<td><input class="checkbox" id="accept-' + count + '" type="checkbox" checked="checked" value="Y" name="check"/></td>' +
                                             '</tr>';
                            }
                        }
                        $('#order_body').html(innerHTML);
                    } /* data ajax */
                }).done(function(d){
                    $('input:checkbox[name="check"]').on('change', function(){
                        if($(this).val()=='Y'){
                            $(this).val('N');
                        } else {
                            $(this).val('Y');
                        }
                    })
                });
            } /* result ajax */
        });
        // ******************************************************************************************************* //
        // schedule_history
        $.ajax({
            url: "{% url 'schedule_history' %}",
            method:'GET',
            dataType: 'json',
            contentType: 'application/json',
            processData: false,
            success: function(result){
                var innerHTML='';
                for(var i=0; i<result.length; i++){
                    /* 추후 삭제 */
                    var orderid = result[i].schedule[0].order_id.toString();
                    var date = result[i].schedule[0].sch_id.toString();
                    var year = date.substring(3,7);
                    var month = date.substring(7,9);
                    var day = date.substring(9,11);
                    date = year + '-' + month + '-' + day;

                    /* 추후 삭제 */
                    var count = i+1;
                    if(result[i].use_yn == 'Y'){
                        innerHTML += '<tr>' +
                                      '<input type="hidden" class="fixed_order_id" value="' + result[i].schedule[0].order_id + '" />' +
                                      '<td scope="row">' + count + '</td>' +
                                      '<td>' + date + '</td>' +
                                      '<td>' + orderid.split('.')[0] + '</td>' +
                                      '<td><div style="width:1rem; height:1rem; background-color:' + result[i].schedule[0].sch_color + '"></div></td>' +
                                      '<td>확정</td>' +
                                 '</tr>';
                    } else {
                        innerHTML += '<tr>' +
                                      '<input type="hidden" class="fixed_order_id" value="' + result[i].schedule[0].order_id + '" />' +
                                      '<td scope="row">' + count + '</td>' +
                                      '<td>' + result[i].schedule[0].created_at + '</td>' +
                                      '<td>' + orderid.split('.')[0] + '</td>' +
                                      '<td><div style="width:1rem; height:1rem; background-color:' + result[i].schedule[0].sch_color + '"></div></td>' +
                                      '<td>미사용</td>' +
                                 '</tr>';
                    }

                }
                $('#fixed_order_body').html(innerHTML);
            }
        });
        $('#searchBtn').on('click',function(){
            doSearch(
              $('#dateFrom').val().replace(/\-/g,''),
              $('#dateTo').val().replace(/\-/g,'')
            );
        })

        function doSearch(dateFrom, dateTo){
            $.when(
               $.ajax({url: "{% url 'schedule_history' %}"})
            ).then(function(_data){
                for(var idx in _data){
                    console.log(_data);
                }
                $('#css-loader').removeClass("is-active");
            })
        }

    });
</script>
{% endblock %}